html {
    position: relative;
    align-items: center;
    min-height: 100%;
}

body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 174px;
    background-image: url("svg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightblue;
    height: 100vh;
    overflow: hidden;
}
.glassmorf{ /* glassmorfismo*/
    background: rgba( 255, 255, 255, 0.65 );
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}